**/node_modules
**/dist
**/.turbo
**/.next
**/build

.git
.gitignore
.env
.env.local
.env.*.local
.vscode
.idea

apps/mobile
!apps/mobile/package.json
apps/web
!apps/web/package.json

archive
graphify-out
docker-compose.yml

**/*.log
**/.DS_Store
